<div *ngIf="shapeControls">
    <h4><label>Name</label><input [(ngModel)]="shapeControls.shape.name" /></h4>
    <h4><label>X</label><input [(ngModel)]="shapeControls.shape.x" /></h4>
    <h4><label>Y</label><input [(ngModel)]="shapeControls.shape.y" /></h4>
    <h4><label>Width</label> <input [(ngModel)]="shapeControls.shape.width" /></h4>
    <h4><label>Height</label><input [(ngModel)]="shapeControls.shape.height" /></h4>
    <h4><label>Opacity</label><input [(ngModel)]="shapeControls.shape.opacity" /></h4>
</div>