<div class="control">
  <app-timeline></app-timeline>
  <div class="list-controls">
    <button (click)="btnPlay()">Play/Pause</button>
    <button (click)="btnStop()">Stop</button>
    <button>Mute</button>
    <button (click)="btnBack()">Back</button>
    <button (click)="btnNext()">Next</button>
    <button (click)="btnEdit()">Edit</button>
  </div>
  <div class='settings'>
    <div class='setting-col'>
      <app-setting></app-setting>
    </div>
    <div class='setting-col'>
      <app-shape></app-shape>
    </div>
  </div>
</div>