.control {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
}

.control .settings {
    display: flex;
}

.control .settings .setting-col {
    width: 50%;
    display: inline-block;
}

.active {
    color: red;
}
